// To use breakpoints and the diferents colors
@use "../variables/mixins" as *;
@use "../abstract/colors" as *;

.choose {
  &-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include mq(tablet) {
      padding: 0 5.8rem 0 5.7rem;
    }

    @include mq(laptop) {
      flex-direction: row;
      gap: 3rem;
      padding: 0 8.5rem;
      margin-top: 8.6rem;
    }
  }

  &-content {
    background-color: $dark-cyan;
    border-radius: 8px;
    padding: 7.2rem 0 5.1rem 0;

    @include mq(tablet) {
      display: flex;
      align-items: center;
      text-align: left;
      gap: 5.5rem;
      padding: 4.1rem 4.8rem 4.1rem 7rem;
    }

    @include mq(laptop) {
      flex-direction: column;
      text-align: center;
      gap: 0;
      padding: 7.2rem 4.8rem 4.8rem 4.7rem;
    }

    &-title {
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin: 5.6rem 0 2.4rem 0;

      @include mq(tablet) {
        margin: 0 0 1.6rem 0;
      }

      @include mq(laptop) {
        margin: 5.6rem 0 2.4rem 0;
      }
    }

    &-txt {
      padding: 0 3.5rem;

      @include mq(tablet) {
        padding: 0;
      }
    }
  }
}
