// To use breakpoints and the diferents colors
@use "../variables/mixins" as *;
@use "../abstract/colors" as *;

// The content are the same for the both pages but one nedd background
// This part is for the homepage
.step-content {
  color: $dark-grey;

  @include mq(tablet) {
    width: 28.3rem;
    max-width: 28.5rem;
  }

  @include mq(laptop) {
    width: 28.5rem;
  }

  &-number {
    color: $pale-orange;
    font-size: 7.2rem;
    line-height: 7.2rem;
  }

  &-title {
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin: 2.4rem 0;

    @include mq(laptop) {
      font-size: 3.2rem;
      line-height: 3.6rem;
      margin: 3.8rem 0 4.2rem 0;
      width: 25.5rem;
    }
  }

  &-txt {
    margin-bottom: 5.6rem;

    @include mq(laptop) {
      margin-bottom: 7.9rem;
    }
  }
}
