// To use breakpoints and the diferents colors
@use "../variables/mixins" as *;
@use "../abstract/colors" as *;

.about {
  background-image: url(../../assets/about/mobile/image-hero-whitecup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  height: 40rem;

  @include mq(tablet) {
    background-image: url(../../assets/about/tablet/image-hero-whitecup.jpg);
    margin-bottom: 14.4rem;
    height: 45rem;
  }

  @include mq(laptop) {
    background-image: url(../../assets/about/desktop/image-hero-whitecup.jpg);
    max-width: 128rem;
    margin: auto;
  }

  &-title {
    font-size: 2.8rem;
    line-height: 2.8rem;

    @include mq(laptop) {
      font-size: 4rem;
      line-height: 4.8rem;
      width: max-content;
    }
  }
}

.description {
  margin-top: 12rem;

  @include mq(laptop) {
    max-width: 128rem;
    margin: auto;
  }

  // Fisrt part of the description
  &-first {
    @include mq(tablet) {
      display: flex;
      gap: 6.9rem;

      @include mq(tablet) {
        margin-bottom: 14.4rem;
      }

      @include mq(laptop) {
        max-width: 110rem;
        margin: auto;
        margin-top: 16.8rem;
        align-items: center;
        gap: 12.5rem;
      }
    }

    &-img {
      border-radius: 1rem;
      margin-bottom: 4.8rem;
    }

    &-content {
      text-align: center;

      @include mq(tablet) {
        text-align: left;
        width: 45.3rem;
      }

      &-title {
        font-size: 3.2rem;
        line-height: 4.8rem;
        margin-bottom: 3rem;

        @include mq(laptop) {
          font-size: 4rem;
          line-height: 4.8rem;
          margin-bottom: 3.2rem;
        }
      }

      &-txt {
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $dark-grey;
        opacity: 0.8;
        margin-bottom: 12rem;

        @include mq(tablet) {
          margin-bottom: 0;
        }

        @include mq(laptop) {
          font-size: 1.6rem;
          line-height: 2.6rem;
        }
      }
    }
  }

  // Second part of description
  &-second {
    display: flex;
    flex-direction: column-reverse;
    background-color: $dark-grey;
    color: $light-cream;
    text-align: center;
    position: relative;
    border-radius: 1rem;

    @include mq(laptop) {
      flex-direction: row;
      text-align: left;
      gap: 12.5rem;
      margin-top: 16.8rem;
    }

    &-image {
      padding: 0 2.4rem;

      @include mq(tablet) {
        padding: 0 5.7rem;
      }
    }

    &-img {
      border-radius: 8px;
      margin-top: -7.6rem;

      @include mq(tablet) {
        margin-top: -11.2rem;
      }

      @include mq(laptop) {
      }
    }

    &-content {
      // margin-top: 14.8rem;
      padding: 6.4rem 2.4rem 6.1rem 2.4rem;

      @include mq(tablet) {
        padding: 6.4rem 7.4rem 6.7rem 7.4rem;
      }

      @include mq(laptop) {
        padding: 8.8rem 0 17.6rem 8.3rem;
        // max-width: 54rem;
      }

      &-title {
        font-size: 2.8rem;
        line-height: 2.8rem;
        margin-bottom: 2.4rem;

        @include mq(tablet) {
          font-size: 3.2rem;
          line-height: 4.8rem;
        }

        @include mq(laptop) {
          font-size: 4rem;
          line-height: 4.8rem;
        }
      }

      &-txt {
        font-size: 1.5rem;
        line-height: 2.5rem;
        opacity: 0.8;

        @include mq(laptop) {
          font-size: 1.6rem;
          line-height: 2.6rem;
        }
      }
    }
  }
}

// Quarter Part
.quarter {
  margin-top: 12rem;
  text-align: center;
  margin-bottom: 12rem;

  @include mq(tablet) {
    text-align: left;
  }

  &-title {
    margin-bottom: 7.2rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: $grey;
  }

  &-container {
    @include mq(tablet) {
      display: flex;
      gap: 9px;
    }
  }

  &-content {
    color: $dark-grey;

    @include mq(tablet) {
      width: 22.3rem;
    }

    &-title {
      font-size: 2.8rem;
      line-height: 3.6rem;
      margin: 4.79rem 0 2.2rem 0;

      @include mq(tablet) {
        font-size: 2.4rem;
      }
    }

    &-list {
      font-size: 1.6rem;
      line-height: 2.6rem;
      margin-bottom: 8rem;
    }
  }
}
