// To use breakpoints and the diferents colors
@use "../variables/mixins" as *;
@use "../abstract/colors" as *;

.main {
  padding: 0 2.4rem;

  @include mq(tablet) {
    padding: 0 4rem;
  }
}

.home {
  background-image: url(../../assets/home/mobile/image-hero-coffeepress.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  height: 50rem;

  @include mq(tablet) {
    background-image: url(../../assets/home/tablet/image-hero-coffeepress.jpg);
  }

  @include mq(laptop) {
    background-image: url(../../assets/home/desktop/image-hero-coffeepress.jpg);
    height: 60rem;
    max-width: 128rem;
    margin: 0 auto;
  }
}

// I hope the design fit for the other pages
.hero {
  &-content {
    padding: 10rem 2.4rem;
    text-align: center;
    color: $light-cream;

    @include mq(tablet) {
      padding: 10.4rem 27.3rem 10.4rem 5.8rem;
      text-align: left;
    }

    @include mq(laptop) {
      width: 493px;
    }

    &-title {
      font-size: 4rem;
      line-height: 4rem;

      @include mq(tablet) {
        font-size: 4.8rem;
        line-height: 4.8rem;
      }

      @include mq(laptop) {
        font-size: 7.2rem;
        line-height: 7.2rem;
        width: 49.3rem;
      }
    }

    &-text {
      margin: 2.4rem 0 3.9rem 0;
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: 400;
      opacity: 0.8;

      @include mq(laptop) {
        font-size: 1.6rem;
        line-height: 2.6rem;
        width: 44rem;
      }
    }
  }
}
