@use "../variables/mixins" as *;
@use "../abstract/colors" as *;

// Fruances && Barlow Fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
// font-family: 'Barlow', sans-serif;

:root {
  font-size: 10px;
  background-color: $light-cream;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Fraunces", serif;
}

.main {
  max-width: 144rem;
  margin: 0 auto;
}

button {
  font-size: 1.8rem;
  background-color: $dark-cyan;
  color: $light-cream;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.button {
  width: 21.7rem;
  height: 5.6rem;
}
